* {
    margin: 0;
    padding: 0;
    font-family: 'Sono', sans-serif;
}

#main {
    display: grid;
    grid-template-rows: 50px 1fr;
}

#history {
    display: grid;
    grid-template-rows: 5vh 1fr 5vh;
    background-color: rgb(237, 205, 187);
    padding-top: 5px;
}
#question-list {
    padding-left: 40px;
}

#history-footer {
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#pg-num {
    align-self: center;
}

.arrow-button {
    border: none;
    margin: 5px;
    flex: 1;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 250ms;
}

.arrow-button:hover,
.arrow-button:focus-visible {
    background: rgb(227, 183, 160);
}

#settings-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px;
    height: 50px;
    background-color: rgb(227, 183, 160);
}

#settings-btn {
    margin: 5px;
    border: none;
    border-radius: 15px;
    color: rgb(176, 91, 59);
    font-size: 24px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 250ms;
}

#settings-btn:hover,
#settings-btn:focus-visible {
    background: rgb(215, 151, 113);
}

.toggle-sections {
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-left: 20px;
    border-right: 2px solid;
    border-color: rgb(176, 91, 59);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgb(215, 151, 113);
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    content: "\f00c";
    color: rgb(117, 52, 34);
    display: none;
}

input[type="checkbox"]:hover {
    background-color: rgb(214, 128, 79);
}

input[type="checkbox"]:checked:after {
    display: block;
}

#ui-q {
    display: flex;
}

#question-main {
    /* flex: 1; */
    padding: 10vh;
    margin: auto;
    background-color: rgb(237, 205, 187);
    border-radius: 10px;
}

.answer-choice {
    width: 100%;
    font-size: 16px;
    border: none;
    background-color: rgb(227, 183, 160);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms;
}

.answer-choice:hover {
    background-color: rgb(215, 151, 113);
}

#hint {
    display: flex;
    position: relative;
    /* flex: 1; */
    background-color: rgb(169, 179, 136);
    padding: 5vh;
    margin: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

#x-hint-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    color: rgb( 58, 77, 57);
    font-size: 24px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms;
}

#x-hint-btn:hover,
#x-hint-btn:focus-visible {
    background: rgb(115, 144, 114);
}

#line-container {
    /* background-color: antiquewhite; */
    background-color: none;
}

#btn-section {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: auto;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    background: rgb(115, 144, 114);
    padding: 0.75em 3em;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 250ms;
}

.btn:hover,
.btn:focus-visible {
    background: rgb(79, 111, 82);
}

#next-button {
    display: block;
    margin-left: auto;
    margin-right: 0;
    font-size: 14;
}