* {
    margin: 0;
    padding: 0;
}

#main {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

#toggle-section {
    display: flex;
    flex-direction: column;
}

#ui-q {
    display: grid;
}